[project]
name = "foundation-moirai-time-series-forecasting"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11,<3.13"
dependencies = [
    "requests>=2.32.5",
    "torch>=2.9.1",
    "torchvision>=0.24.1",
]
